/* Optional styling */
.custom-control-label::before {
    border: 1px solid #007bff; /* Change border color */
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff; /* Change background color when checked */
    border-color: #007bff; /* Change border color when checked */
}
.movie-card {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.movie-img {
    flex: 0 0 200px;
    margin-right: 20px;
}
.movie-img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.movie-details {
    flex: 1;
}
.movie-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.movie-description {
    margin-bottom: 10px;
}
.movie-rating {
    font-size: 1.2em;
    font-weight: bold;
}
.details-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.rating-text {
    color: #6c757d;
    font-size: 0.9em;
}